:root {
    --color-black:#000;
    --color-white:#fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
}

.container {
    background-color: var(--color-white);
    width: 980px;
    height: 525px;
    padding: 20px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

input {
    width: 380px;
    height: 39px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 15px;
    padding-left: 10px;
}

.input_row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.input_group {
    position: relative;
    flex: 1;
}

.input_group input {
    width: 100%;
}

.register_form {
    margin-left: 3vw;
    margin-right: 3vw;
}

.register_form h1 {
    font-size: 35px;
}

.register_form p {
    margin-top: 0.4em;
    margin-bottom: 40px;
}

.input_row {
    font-weight: bold;
}

.login_link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
}

.btn_acessar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn_acessar button {
    all: unset;
    cursor: pointer;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 10px;
    height: 50px;
    width: 400px;
    font-weight: 600;
    text-align: center;
    border: 2px solid transparent;
    transition: all .45s;
}

.btn_acessar button:hover {
    color: var(--color-black);
    border: 2px solid var(--color-black);
    background-color: transparent;
    letter-spacing: 5px;
}

.password_container {
    position: relative;
}

.password_container img {
    position: absolute;
    top: 31%;
    right: 0;
    height: 20px;
    width: 20px;
}




