
.cabecalho {
    width: 100%;
    height: 7.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*/background: linear-gradient(90deg, rgba(10, 9, 13, 0.34) 0%, rgba(0, 0, 0, 0.00) 100%);/*/
    background: linear-gradient(180deg, #191622 0%, #0E0B15 100%);
}

.outback {
    margin-left: 5.37rem;

}

.botoes_nav {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 767px;
    height: auto; /* Definido como 'auto' para permitir que a altura se ajuste ao conteúdo */
    left: 350px;
    top: 51px;

}

.botoes_nav a{
    font-size: 20px;
    font-weight: 700;
    color: #BEBEBE;
    text-decoration: none;
    white-space: nowrap; /* Impede a quebra de linha automática */


}
.botao_ativo{
    color: #FFF !important;
    font-size: 20px;
    font-weight: 800;
}
.bloco_usuario{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bloco_usuario span {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}
.icone_usuario {
    background-color: #8A8A8A;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.filtros {
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 80px;

}
/* .btn_cancelar {
width: 225px;
height: 62px;
flex-shrink: 0;
border-radius: 10px;
background: #FF4646;
}
.btn_aprovar {
width: 216px;
height: 62px;
flex-shrink: 0;
border-radius: 10px;
background: #e1dfe6;
color: #160707;
font-size: 20px;
font-weight: 500; */

