
.cabecalho {
    width: 100%;
    height: 7.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-azul-escuro1);
}


.botoes_nav {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 35px;
}

.botoes_nav a{ 
    font-size: 20px;
    font-weight: 700;
    color: #BEBEBE; 
    text-decoration: none;
}

.botao_ativo{
    color: var(--cor-branca) !important;
    font-size: 20px;
    font-weight: 800;
}

.bloco_usuario{
    display: flex;
    align-items: center;
    gap: 15px;
}

.bloco_usuario span {
    color: var(--cor-branca) !important;
    font-size: 20px;
    font-weight: 600;    
}
    
.icone_usuario {
    background-color: #8A8A8A;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tabela_minhas_reservas{
    display: flex;
    margin-top: 70px;
    color: var(--cor-branca) !important;
    font-size: 20px;
    font-weight: 600; 
}

.tabela_minhas_reservas th {
    padding-right: 60px; 
    padding-left: 70px;
}

.tabela_historico_reserva {
    display: flex;
    margin-top: 70px;
    justify-content: center;

    color: var(--cor-branca) !important;
    font-size: 20px;
    font-weight: 600;
    
}

.tabela_historico_reserva th {
    padding-right: 60px; 
    padding-left: 70px;

}

.arrow {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 4px;
}


