.container_xl {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(/assets/back_reserva.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px;

}

.container_xl .logo {

    position: absolute;
    top: 20px;
    left: 0;
        
}

.form_container {

    width: 62.5rem;

}

.form_container .title_box {

    width: 100%;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    background: var(--cor-azul-escuro2);
    
}

.form_container .title_box h1 {

    font-size: 2.1875rem;
    font-weight: 700;

}

.main_cont {

    width: 100%;
    background-color: var(--cor-branca);
    border-radius: 0 0 15px 15px;
    padding: 2.5rem 1.25rem 1.25rem 1.25rem;

}

.booking_information {

    max-width: 629px;
    margin: 0 auto;

}

.infos_title {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.75rem;

}

.infos_title h2 {

    color: var(--cor-azul-escuro1);
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: .5px;

}

.infos_title > div {

    min-width: 14.3125rem;
    height: 2px;
    background-color: var(--cor-azul-escuro2);

}

.fields_box {

    width: 100%;
    display: grid;
    grid-template-columns: 1.35fr .2fr .82fr;
    grid-auto-rows: min-content;
    column-gap: 30px;
    row-gap: 20px;

}

.fields_box .input_block {

    height: 100%;

}

.input_block .bg_input {

    border-radius: 8px;
    background: rgba(216, 216, 216, .25);
    padding: .94rem;
    margin-top: 8px;

}

.input_block .bg_input textarea {

    width: 100%;

}

.input_block .bg_input input, .input_block .bg_input textarea {

    width: 100%;
    color: var(--cor-azul-escuro1);

}

.input_block label, .input_block span {

    color: var(--cor-azul-escuro2);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .36px;
    margin-bottom: 8px;

}

.fields_box .input_block:last-child {

    grid-column: span 3;

}