
.back {
    height: 100%;
    min-height: 100%;
    background-image: url(../../assets/back_reserv.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
}

.form_container {
    position: relative;
    background-color: var(--cor-branca);
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    margin: auto;

}

.form_header {
    border-top-left-radius: 10px;
    font-family: "Montserrat", sans-serif;
    border-top-right-radius: 10px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.form_header h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.section {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.title_container .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.title_container .line {
    height: 2px;
    background-color: var(--cor-azul-escuro1);
    margin: 0 auto 20px; 
}

.section_info_reserva {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 8px;
    border-radius: 8px;
    justify-content: center;
}

.input_group{
    display: flex;
    flex-direction: column;
}

.input_group label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    text-align: left;

}

.input_group input,
.input_group select,
.input_group textarea {
    width: 232px;
    height: 52px;
    padding: 8px;
    background-color: #D8D8D8;
    border-radius: 8px;
    font-size: 23px;
    color: rgba(15, 13, 23, .85);
}

.section_info_reserva .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.title_container .line {
    height: 2px;
    background-color: var(--cor-azul-escuro1);
    margin: 0 auto 20px; 
}

.section .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.line {
    height: 2px;
    background-color: var(--cor-azul-escuro1);
    width: 20%;
    margin: 0 auto 20px; 
}

.input_group {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
 
}
.form_inputs label {
    font-size: 18px;
    color: var(--cor-azul-escuro1);
    margin-right: 10px;
    font-weight: bold;
}


.form_container .form_reserve .form_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    row-gap: 25px;

}

.form_container .form_reserve .grupo_input {
    display: flex;
    flex-direction: column;

}

.form_reserve .grupo_input input {

    height: 52px;
    border: 2px solid var(--cor-azul-escuro1);
    background-color: transparent;
    padding: 0 10px 0 25px;
    border-radius: 8px;
    font-size: 23px;
    color: rgba(15, 13, 23, .85);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
}

.buttons button[type="reset"] {
    background-color: #f00;
    text-align: center;
    color: #fff;
    width: 350px;
    height: 50px;
}

.buttons button[type="submit"] {
    background-color: var(--cor-azul-escuro1);
    text-align: center;
    color: #fff;
    width: 350px;
    height: 50px;
}

/* @media (max-width: 600px) {
    .form_container {
        width: 100%;
        padding: 10px;
    }

    .input_group {
        flex-direction: column;
    }

    .buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
} */
